<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Spritely.Build" version="0.2.3" targetFramework="net45" developmentDependency="true" />
  <package id="Spritely.BuildSettings" version="0.2.7" targetFramework="net45" developmentDependency="true" />
</packages>